AddType application/x-httpd-php55 .php

RewriteEngine On
RewriteBase /test/
#<IfModule mod_rewrite.c>
    #regole di riscrittura url
    RewriteCond %{REQUEST_URI} !(public|css)
    RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
    #RewriteRule ^notice/([^/]*)$ /?resp_code=$1 [L]
    #DirectoryIndex index.php index.html site-down.php
    #RewriteRule ^photo-ranking$ /index.php?mode=rank [L]
    RewriteRule ^timing-best$ /index.php?mode=timers [L]
    RewriteRule ^what-new$ /index.php?mode=new [L]
    #RewriteCond %{REQUEST_URI} !^/user/([0-9]+)-([A-Za-z0-9-]+)$ [NC]
    #RewriteRule ^user/([0-9]+)-(.*)$ $2 [R,L]
    #RewriteRule ^user/([0-9]+)-([A-Za-z0-9-]+)$ profile.php?id=$1 [L]"
    RewriteRule ^contest/expo /expo.php  [L]
    RewriteRule ^user/([^/]*)/([^/]*)$ /profile.php?id=$1&filter=$2 [L]
    #RewriteRule ^user/([^/]*)/([^/]*)$ /profile.php?id=$1&filter=$2 [L]
    RewriteRule ^ranking$ /index.php?mode=rankuser [L]
#</IfModule>

