.href_nn{text-decoration:none;}
.href_nn:hover{text-decoration:none;}
.href_un{text-decoration:underline;}
.href_un:hover{text-decoration:none;}
.href_nu{text-decoration:none;}
.href_nu:hover{text-decoration:underline;}
.disp_none{display:none;}
.disp_block{display:block;}
.pointer{cursor:pointer;}
.fs9{font-size:9px;}
.fs10{font-size:10px;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.fs21{font-size:21px;}
.fs22{font-size:22px;}
.fs23{font-size:23px;}
.fs24{font-size:24px;}
.fs25{font-size:25px;}
.fs26{font-size:26px;}
.fs27{font-size:27px;}
.fs28{font-size:28px;}
.fs29{font-size:29px;}
.fs30{font-size:30px;}
.fs31{font-size:31px;}
.fs32{font-size:32px;}
.fs33{font-size:33px;}
.fs34{font-size:34px;}
.fs35{font-size:35px;}
.fs40{font-size:40px;}
.fs45{font-size:45px;}
.fs50{font-size:50px;}
.fs60{font-size:60px;}
.linht2{line-height:2px;}
.linht4{line-height:4px;}
.linht6{line-height:6px;}
.linht8{line-height:8px;}
.linht10{line-height:10px;}
.linht12{line-height:12px;}
.linht14{line-height:14px;}
.linht16{line-height:16px;}
.linht18{line-height:18px;}
.linht20{line-height:20px;}
.linht22{line-height:22px;}
.linht24{line-height:24px;}
.linht26{line-height:26px;}
.linht28{line-height:28px;}
.linht36{line-height:36px;}
.left{float:left;}
.right{float:right;}
.clear{clear:both}
.overflow{overflow:hidden;}
.relative{position:relative;}
.absolut{position:absolute;}
.fixed{position:fixed;}
.txtcenter{text-align:center;}
.txtjustify{text-align:justify;}
.txtleft{text-align:left;}
.txtright{text-align:right;}
.txtapice{vertical-align:super;}
.txtpedice{vertical-align:sub;}
.margin_0auto{margin:0 auto;}
.middle{vertical-align:middle;}
.bottom{vertical-align:bottom;}
.bgwhite{background-color:#fff;}
.bgblack{background-color:#000;}
.white{color:#FFF}
.black{color:#000;}
.blue{color:#036eb0;}
.dark-header{background-color:#191a1c;}
.gray-nav-header{color:#99958d;}
.ocra{color:#fab830;}
.bgocra{background-color:#fab830;}
.rosso{color:#d80000;}
.bgrosso{background-color:#d80000;}
.gray{color:#f9f9f9}
.bggray{background-color:#f9f9f9;}
.green{color:#3d7029;}
.bggreen{background-color:#3d7029;}
.marronechiaro{color:#f2eee8;}
.bgmarronechiaro{color:#f2eee8;}
.darkgray{color:#767676}
.bgdarkgray{background-color:#767676}
.bgdarkgray2{background-color:#d1d1d1}
.viola{color:#8c1d6a;}
.bgviola{background-color:#8c1d6a;}
.oliva{color:#597413;}
.bgoliva{background-color:#597413;}
.azzurro{color:#379be7;}
.bgazzurro{background-color:#379be7;}
.bgazzurrolight{background-color:#c6f3ee;}
.miele{color:#b84b00;}
.bgmiele{background-color:#b84b00;}
.bgverdeiper{background-color:#b4e6a6;}
.verdeiper{color:#b4e6a6;}
.bgverdeacqua{background-color:#5da095;}
.verdeacqua{color:#388679;}
.gray666{color:#666;}
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.underline{text-decoration:underline;}
.nounderline{text-decoration:none;color:inherit;}
.through{text-decoration:line-through;}
.bold{font-weight:bold;}
.norm{font-weight:normal;}
.italic{font-style:italic;}
.auto{margin:auto;}
.mg0{margin:0px;}
.mg2{margin:2px;}
.mg4{margin:4px;}
.mg6{margin:6px;}
.mg8{margin:8px;}
.mg10{margin:10px;}
.mg12{margin:12px;}
.mg14{margin:14px;}
.mg16{margin:16px;}
.mg18{margin:18px;}
.mg20{margin:20px;}
.mg22{margin:22px;}
.mg24{margin:24px;}
.mg26{margin:26px;}
.mg28{margin:28px;}
.mg30{margin:30px;}
.mg32{margin:32px;}
.mg34{margin:34px;}
.mg36{margin:36px;}
.mg38{margin:38px;}
.mg40{margin:40px;}
.mgTop0{margin-top:0px;}
.mgTop2{margin-top:2px;}
.mgTop4{margin-top:4px;}
.mgTop6{margin-top:6px;}
.mgTop8{margin-top:8px;}
.mgTop10{margin-top:10px;}
.mgTop12{margin-top:12px;}
.mgTop14{margin-top:14px;}
.mgTop16{margin-top:16px;}
.mgTop18{margin-top:18px;}
.mgTop20{margin-top:20px;}
.mgTop22{margin-top:22px;}
.mgTop24{margin-top:24px;}
.mgTop26{margin-top:26px;}
.mgTop28{margin-top:28px;}
.mgTop30{margin-top:30px;}
.mgTop32{margin-top:32px;}
.mgTop34{margin-top:34px;}
.mgTop36{margin-top:36px;}
.mgTop38{margin-top:38px;}
.mgTop40{margin-top:40px;}
.mgTop48{margin-top:48px;}
.mgTop56{margin-top:56px;}
.mgTop60{margin-top:60px;}
.mgTop80{margin-top:80px;}
.mgBt0{margin-bottom:0px;}
.mgBt2{margin-bottom:2px;}
.mgBt4{margin-bottom:4px;}
.mgBt6{margin-bottom:6px;}
.mgBt8{margin-bottom:8px;}
.mgBt10{margin-bottom:10px;}
.mgBt12{margin-bottom:12px;}
.mgBt14{margin-bottom:14px;}
.mgBt16{margin-bottom:16px;}
.mgBt18{margin-bottom:18px;}
.mgBt20{margin-bottom:20px;}
.mgBt22{margin-bottom:22px;}
.mgBt24{margin-bottom:24px;}
.mgBt26{margin-bottom:26px;}
.mgBt28{margin-bottom:28px;}
.mgBt30{margin-bottom:30px;}
.mgBt32{margin-bottom:32px;}
.mgBt34{margin-bottom:34px;}
.mgBt36{margin-bottom:36px;}
.mgBt38{margin-bottom:38px;}
.mgBt40{margin-bottom:40px;}
.mgLf0{margin-left:0px;}
.mgLf2{margin-left:2px;}
.mgLf4{margin-left:4px;}
.mgLf6{margin-left:6px;}
.mgLf8{margin-left:8px;}
.mgLf10{margin-left:10px;}
.mgLf12{margin-left:12px;}
.mgLf14{margin-left:14px;}
.mgLf16{margin-left:16px;}
.mgLf18{margin-left:18px;}
.mgLf20{margin-left:20px;}
.mgLf22{margin-left:22px;}
.mgLf24{margin-left:24px;}
.mgLf26{margin-left:26px;}
.mgLf28{margin-left:28px;}
.mgLf30{margin-left:30px;}
.mgLf32{margin-left:32px;}
.mgLf34{margin-left:34px;}
.mgLf36{margin-left:36px;}
.mgLf38{margin-left:38px;}
.mgLf40{margin-left:40px;}
.mgLf44{margin-left:44px;}
.mgLf50{margin-left:50px;}
.mgLf60{margin-left:60px;}
.mgRt0{margin-right:0px;}
.mgRt2{margin-right:2px;}
.mgRt4{margin-right:4px;}
.mgRt6{margin-right:6px;}
.mgRt8{margin-right:8px;}
.mgRt10{margin-right:10px;}
.mgRt12{margin-right:12px;}
.mgRt14{margin-right:14px;}
.mgRt16{margin-right:16px;}
.mgRt18{margin-right:18px;}
.mgRt20{margin-right:20px;}
.mgRt22{margin-right:22px;}
.mgRt24{margin-right:24px;}
.mgRt26{margin-right:26px;}
.mgRt28{margin-right:28px;}
.mgRt30{margin-right:30px;}
.mgRt32{margin-right:32px;}
.mgRt34{margin-right:34px;}
.mgRt36{margin-right:36px;}
.mgRt38{margin-right:38px;}
.mgRt40{margin-right:40px;}
.mgRt60{margin-right:60px;}
.mgRt90{margin-right:90px;}
.pd0{padding:0px;}
.pd2{padding:2px;}
.pd4{padding:4px;}
.pd6{padding:6px;}
.pd8{padding:8px;}
.pd10{padding:10px;}
.pd12{padding:12px;}
.pd14{padding:14px;}
.pd16{padding:16px;}
.pd18{padding:18px;}
.pd20{padding:20px;}
.pd22{padding:22px;}
.pd24{padding:24px;}
.pd26{padding:26px;}
.pd28{padding:28px;}
.pd30{padding:30px;}
.pd32{padding:32px;}
.pd34{padding:34px;}
.pd36{padding:36px;}
.pd38{padding:38px;}
.pd40{padding:40px;}
.pdTop0{padding-top:0px;}
.pdTop2{padding-top:2px;}
.pdTop4{padding-top:4px;}
.pdTop6{padding-top:6px;}
.pdTop8{padding-top:8px;}
.pdTop10{padding-top:10px;}
.pdTop12{padding-top:12px;}
.pdTop14{padding-top:14px;}
.pdTop16{padding-top:16px;}
.pdTop18{padding-top:18px;}
.pdTop20{padding-top:20px;}
.pdTop22{padding-top:22px;}
.pdTop24{padding-top:24px;}
.pdTop26{padding-top:26px;}
.pdTop28{padding-top:28px;}
.pdTop30{padding-top:30px;}
.pdTop32{padding-top:32px;}
.pdTop34{padding-top:34px;}
.pdTop36{padding-top:36px;}
.pdTop38{padding-top:38px;}
.pdTop40{padding-top:40px;}
.pdTop54{padding-top:54px;}
.pdTop70{padding-top:70px;}
.pdTop84{padding-top:84px;}
.pdBt0{padding-bottom:0px;}
.pdBt2{padding-bottom:2px;}
.pdBt4{padding-bottom:4px;}
.pdBt6{padding-bottom:6px;}
.pdBt8{padding-bottom:8px;}
.pdBt10{padding-bottom:10px;}
.pdBt12{padding-bottom:12px;}
.pdBt14{padding-bottom:14px;}
.pdBt16{padding-bottom:16px;}
.pdBt18{padding-bottom:18px;}
.pdBt20{padding-bottom:20px;}
.pdBt22{padding-bottom:22px;}
.pdBt24{padding-bottom:24px;}
.pdBt26{padding-bottom:26px;}
.pdBt28{padding-bottom:28px;}
.pdBt30{padding-bottom:30px;}
.pdBt32{padding-bottom:32px;}
.pdBt34{padding-bottom:34px;}
.pdBt36{padding-bottom:36px;}
.pdBt38{padding-bottom:38px;}
.pdBt40{padding-bottom:40px;}
.pdLf0{padding-left:0px;}
.pdLf2{padding-left:2px;}
.pdLf4{padding-left:4px;}
.pdLf6{padding-left:6px;}
.pdLf8{padding-left:8px;}
.pdLf10{padding-left:10px;}
.pdLf12{padding-left:12px;}
.pdLf14{padding-left:14px;}
.pdLf16{padding-left:16px;}
.pdLf18{padding-left:18px;}
.pdLf20{padding-left:20px;}
.pdLf22{padding-left:22px;}
.pdLf24{padding-left:24px;}
.pdLf26{padding-left:26px;}
.pdLf28{padding-left:28px;}
.pdLf30{padding-left:30px;}
.pdLf32{padding-left:32px;}
.pdLf34{padding-left:34px;}
.pdLf36{padding-left:36px;}
.pdLf38{padding-left:38px;}
.pdLf40{padding-left:40px;}
.pdRt0{padding-right:0px;}
.pdRt2{padding-right:2px;}
.pdRt4{padding-right:4px;}
.pdRt6{padding-right:6px;}
.pdRt8{paddingn-right:8px;}
.pdRt10{padding-right:10px;}
.pdRt12{padding-right:12px;}
.pdRt14{padding-right:14px;}
.pdRt16{padding-right:16px;}
.pdRt18{padding-right:18px;}
.pdRt20{padding-right:20px;}
.pdRt22{padding-right:22px;}
.pdRt24{padding-right:24px;}
.pdRt26{padding-right:26px;}
.pdRt28{padding-right:28px;}
.pdRt30{padding-right:30px;}
.pdRt32{padding-right:32px;}
.pdRt34{padding-right:34px;}
.pdRt36{paddingn-right:36px;}
.pdRt38{padding-right:38px;}
.pdRt40{padding-right:40px;}